*
{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-image: url(wp.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.logo img{
	width: 3vw;
	height: 3vw;
}
.logo{
	display: inline-block;
	margin-left: 5vw;
	margin-top: 1vw;
	color: white;
	padding-bottom: 2vw; 
}

.society_name
{   display: inline-block;
    color: white;
    margin-left:1vw;
 
}
.society_name a{
	text-decoration: none;
	color: white;
}
h1{
  color: #396;
  font-weight: 400;
  font-size: 3.5vw;
  margin: 40px 0px 20px;
  text-align: center;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
   font-style: monospace;
   
    color: white;
}

#clockdiv{
	font-family: sans-serif;
	
	display: inline-block;
	color: white;
	text-align: center;
	font-size: 30px;
	text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border:2px solid white;
}
.outerdiv_time{
	margin-right: 5px;
	margin-left: 5px;
}
#clockdiv > div{
	padding: 10px;
	
	display: inline-block;
}

#clockdiv div > span{
	padding: 20px;
	
	
	display: inline-block;

}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
.coming{
	color: white;
	background-color: red;
	height: 30px;
	width: 50px;
}
.facebook img{
height: 3vw;
width: 3vw;

}
.facebook{
	
    width: 3vw;

margin-left: 97vw;
margin-top: 15vh;

}
.twitter img{
height: 3vw;
width: 3vw;
}
.twitter{
   width: 3vw;

margin-left: 97vw;
margin-top: 5vh;
}
.linked img{
height: 3vw;
width: 3vw;
}
.linked{
	 width: 3vw;

margin-left: 97vw;
margin-top: 5vh;
}
.footer{
	width: 20vw;
	
	color: white;
	margin-top: 36vh;
	margin-left: 2vw;
}
.footer a
{
text-decoration: none;
color: white;
}
@media (min-width: 768px) and (max-width: 1024px)
{
	body{
		background-size: cover;

	}
	.facebook img{
		width: 5vw;
		height: 5vw;
	}
.facebook
{
margin-left: 95vw;
	width: 5vw;
	margin-top: 34vh;
}
.twitter img
{
	width: 5vw;
		height: 5vw;
}
.twitter
{
	margin-left: 95vw;
	width: 5vw;
}
.linked img{
	width: 5vw;
		height: 5vw;
}
.linked{
	margin-left: 95vw;
	width: 5vw;
}
h1{
	 font-weight: 500;
  font-size: 5.5vw;
   top: 30%;
}

.footer{
	width: 35vw;
	margin-top:
}
.logo img{
	width: 7vw;
	height: 5vh;
}
.logo{
	margin-top: 12px;
}
.society_name{
	width: 40vw;
	height:3vh;
	font-size: 20px; 
}
.coming{
	color: white;
}
}
@media (min-width: 411px) and (max-width: 767px){
	
	.logo img{
		width: 10vw;
        height: 5vh;
	}
	.society_name{
		display: none;
	}
	.footer
	{
	width: 45vw;
	font-size: 11px;
	}
	h1{
		 font-weight: 500;
  font-size: 5.5vw;
  top: 18%;
  
	}
	#clockdiv{
		top: 30%;
       
        
	}
   .facebook{
        margin-left: 35vw;
       position: relative;
       transform: translateY(1150%);
   }
   .facebook img{
        width: 7vw;
        height:7vw;

   }
   .twitter{
   	 margin-left: 50vw;
   	  position: relative;
       transform: translateY(934%);
   }
   .twitter img{
   	 width: 7vw;
        height:7vw;
   }
   .linked{
   	margin-left: 65vw;
position: relative;
       transform: translateY(720%);
   }
   .linked img{
   	 width: 7vw;
        height:7vw;
   }
   .footer{
   	margin-left: 30vw;
   }
}